@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');

body{
    margin: auto;

}
.container{
   display: flex;

   justify-content: space-evenly;
}
body{
    overflow: hidden;
}

.content{
    padding-left: 60px;
    padding-top: 120px;
    font-family:'Open Sans',sans-serif;
    font-weight: 700;
    font-size: 25px;
    width: 100%;
    
    
   
}
p{
    margin: 0px;
}
.title{
    font-family:'Open Sans',sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    padding-top: 50px;
}
.image{
    padding-left: 60px;
    width: 350px;
    height: 50px;
    font-family:'Open Sans',sans-serif;
    font-size: 25px;
    font-weight: 700;
    min-width: 300px;
    min-height: 50px;
}


.solid{
    width: 550px;
    height: 480px;
    position: relative;
    background-color:rgba(66, 133, 244, 0.06);
    z-index: -1;
    top:60px;
    right: 150px;
 
    
}

.sahyadri{
    font-family:'Open Sans',sans-serif;
    font-weight: 800;
    font-size: 50px;
    color: rgba(10, 54, 124, 0.6);

}
.Landingpagecontent{
    font-family:'Open Sans',sans-serif;
    font-weight: 400;
    font-size: 18px;
    position: relative;
    color: rgb(0, 0, 0,0.6)
}

.DSCS{
    color: rgba(6, 28, 75, 0.8);
}
.hero2{
    position: relative;
    left:180px;
    bottom: 40px;
    width: 500px;
   
}
.hero1{
    position: relative;
    width: 290px;
    left: 300px;
    top: 60px;
  
}

.herobutton{
     border-radius: 30px;
     margin-top: 30px;
     padding: 5px;
     width: 180px;
     height: 40px;
     font-family:'Open Sans',sans-serif;
     font-weight: 700;
     color: white;
     font-size: 15px;
     background-color: rgb(9, 33, 70);
     border: none;
}
.landingfooter{
    
padding-top: 10px;
   
}
.Contact{
    float: right;
}
@media screen and (max-width: 787px) {

    .container{
        flex-direction: column;
    }
    .content{
        padding-top: 70px;
    }
    .hero1{
        left: 500px;
    }
    .hero2{
        left: 300px;
    }
}
@media screen and (max-width: 485px) {

  
    .content{
        padding-top: 40px;
        padding-left: 30px;
    }
    .title{
        font-size: 35px;
        line-height: 40px;
    }
    .sahyadri{
        font-size: 35px;
    }
    .Landingpagecontent{
        font-size: 15px;
    }
    .hero1{
        left: 300px;
    }
    .hero2{
        left: 200px;
    }
}